p {
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: #f0ebd8ff;
}
img {
  max-width: 500px;
  max-height: 300px;
}
.accordion-button {
  background-color: #f0ebd8ff;
}
.accordion-collapse {
  background-color: #f0ebd8ff;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 300px;
}
.jcarousel-item {
  width: 100%;
  height: 100%;
}
